<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.succ.dao.BaseInfoDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.succ.entity.BaseInfo">
		<id column="id" property="id" />
		<result column="five" property="five" />
		<result column="four" property="four" />
		<result column="three" property="three" />
		<result column="two" property="two" />
		<result column="one" property="one" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, five, four, three, two, one, remark, create_time
    </sql>

</mapper>
